{
  "**/__fixtures__/": "prettier --write",
  "**/*.{md,ndx,json,jsonc,yaml,yml,css,html}": "prettier --write",
  "**/*.{js,cjs,mjs,cjsx,mjsx,ts,cts,mts,tsx,ctsx,mtsx}": "prettier --write",
  "**/package.json": "sort-package-json"
}
