@import '@monorepo/tailwindcss/tailwindcss.css';

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@layer base {
  :root:where([data-theme='light']) {
    --background: #ffffff;
    --foreground: #171717;
  }
  :root:where([data-theme='dark']) {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
  @media (prefers-color-scheme: light) {
    :root:where(:not([data-theme='light']):not([data-theme='dark'])) {
      --background: #ffffff;
      --foreground: #171717;
    }
  }
  @media (prefers-color-scheme: dark) {
    :root:where(:not([data-theme='light']):not([data-theme='dark'])) {
      --background: #0a0a0a;
      --foreground: #ededed;
    }
  }

  body {
    background: var(--background);
    color: var(--foreground);
  }
}
