# yaml-language-server: $schema=https://json.schemastore.org/github-workflow.json

name: Lint, typecheck, and test

on:
  push:
    branches:
      - '*'
  pull_request:
    branches:
      - 'main'
      - 'dev'

jobs:
  lint:
    runs-on: ubuntu-latest
    name: Lint and typecheck

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          lfs: true

      - name: Setup Node.js with corepack
        uses: ./.github/actions/setup-node

      - name: Setup cache
        uses: ./.github/actions/setup-cache
        with:
          restore-key-prefix: 'lint'

      - name: Install dependencies
        run: pnpm install --frozen-lockfile

      - name: Build & typecheck
        run: pnpm -w --no-bail run tsc:build:packages

      - name: Run ESLint
        run: pnpm -w --no-bail run lint:eslint:packages

  test:
    runs-on: ubuntu-latest
    name: Run tests

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          lfs: true

      - name: Setup Node.js with corepack
        uses: ./.github/actions/setup-node

      - name: Setup cache
        uses: ./.github/actions/setup-cache
        with:
          restore-key-prefix: 'test'

      - name: Install dependencies
        run: pnpm install --frozen-lockfile

      - name: Build & typecheck
        run: pnpm -w run tsc:build:packages

      - name: Run tests
        run: pnpm -w run test:packages

  build-storybook:
    runs-on: ubuntu-latest
    name: Build storybook

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          lfs: true

      - name: Setup Node.js with corepack
        uses: ./.github/actions/setup-node

      - name: Setup cache
        uses: ./.github/actions/setup-cache
        with:
          restore-key-prefix: 'build-storybook'

      - name: Install dependencies
        run: pnpm install --frozen-lockfile

      - name: Build workspace dependencies
        run: pnpm run tsc:build:upstream
        working-directory: apps-web/app-storybook

      - name: Build storybook
        run: pnpm run build
        working-directory: apps-web/app-storybook

      - name: Upload build artifacts
        uses: actions/upload-artifact@v4
        with:
          name: storybook-static
          path: |
            apps-web/app-storybook/storybook-static/
          if-no-files-found: error
          include-hidden-files: true
